.qr-code-container {
    border-radius: 20px;
    text-align: center;
    background-color: white;
    width: 320px;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-code-container img {
    border-radius: 10px;
    margin-top: 16px;
}

.qr-code-subcontainer {
    padding: 23px 16px 40px 16px ;
}

.qr-code-container p {
    padding: 16px 16px 0 16px;
}